{% extends "applications/base.html" %}
{% block content %}
 <h2>All submitted applications</h2>
 <a href="/apps/add"><button>Add Application</button></a><br><br>
 {% if applications %}
 {% for app in applications %}
        Position: {{ app.position }}<br>
        Company: {{ app.company }}<br>
        Location: {{ app.location }}<br>
        Application Date: {{ app.application_date }}<br>
        Status: {{ app.status }}<br>
        Min Salary: {{ app.min_salary }}<br>
        Max Salary: {{ app.max_salary }}<br>
        Contact Name: {{ app.contact_name }}<br>
        Contact Phone: {{ app.contact_phone }}<br><br>

    {% endfor %}
    {% else %}
    <p> There are no applications submitted</p>
    {% endif %}

{% endblock %}