<html lang="en">
  <head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JobReacher</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      .welcome {
        max-width: 800px;
        text-align:center;
      }

      .site_title {
        color: cyan;
        text-style: italic;
        text-shadow: 3px 3px blue;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    <div class="header">
    <h1 class="welcome"><span class="site_title">JobReacher</span></h1>
        <hr>
    {% if not user.is_authenticated %}
      <a href="/login"><button>Login</button></a> or <a href="/register"><button>Register</button></a>
      {% else %}
      <p>Welcome to JobReacher</p>
      {% endif %}
    </div>
    {% block content %}
    
    <script src="index.js"></script>
    {% endblock %}
  </body>
</html>