<html lang="en">
  <head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JobSlide</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      .welcome {
        background-color: silver;
        margin: 10px auto;
        max-width: 800px;
        text-align:center;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    
    <script src="index.js"></script>
    {% endblock %}
  </body>
</html>